*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    text-align: center;
    background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 100vh;
    color: #fff;
}
h1{
    margin: 1rem auto;
}

button{
    list-style-type: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    letter-spacing: 2px;
    border: none;
    background-color: rgb(205, 210, 210);
    margin: 1rem 1rem;
    border-radius:5px;
}
button:hover{
    transform: scale(0.97);
}
a{
    text-decoration: inherit;
    color: inherit;
}